.p:hover {
  color: red; /* Цвет при наведении */
  text-decoration: none;
}

title {
  color: #ff4081; /* Цвет при наведении */
  text-decoration: none;
}
h6 {
  text-decoration: none;
  color: red;
}
